sudo: false
language: node_js
node_js:
  - "4.2.3"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev